#iHeaderListTags { width:100%; border:1px solid; border-collapse: collapse; margin-top:3px; }
#iListTags { width:100%; border:1px solid; height:280px; border-top:0px; overflow:auto; position:relative; left:-1px;}
#iListImages { width:100%; border-bottom:1px solid; overflow:auto;}
#iListTagsNb, #iListImagesNb { width:99%; text-align:right; margin-bottom:8px; padding:2px; font-size:80%; }
#iListTags table, #iListImages table, table.listTags { width:100%; text-align:left; border-collapse: collapse; }
#iListTags.roma table tr:hover { cursor:pointer; background:#303030; }
#iListImages.roma table tr:hover, table.roma tr:hover { background:#303030; cursor:default; }
#iListTags.clear table tr:hover { cursor:pointer; color: #D54E21; background:#dbe8f3; }
#iListImages.clear table tr:hover, table.clear tr:hover { color: #D54E21; background:#dbe8f3; cursor:default; }
#iHeaderListImages { width:100%; border-bottom:1px solid; }
div.addGroup { padding-left:40px; text-align:left; }
#iGroups { list-style: none; }

.tagListOrder { list-style: none; padding:0px; margin-right:8px; margin-left:35px; }
.tagListOrder li { border:none; padding:1px; margin-bottom:2px; width:100%; }
.groupTags { padding-top:8px; }
.editGroupListButton { margin-left:8px; position:absolute; z-index:1000; }
table.tagListOrderItem { width:100%; border-collapse:collapse; }

#ianalyzestatus { margin:8px; padding:8px; }
#ianalyzestatus ul { margin:0px; padding:0 0 0 20px; }
#iamd_nb_item_per_request_display { display:inline-block; width:70px; }
#iamd_nb_item_per_request_slider { display:inline-block; width:350px; }
.helpBody { text-align: left; padding-top:30px; }
.helpBody ul { padding:0px; margin:0px; }
.helpBody li { margin-left:30px; }

