
.formtable, .formtable P { text-align:left; display:block; }
.formtable tr { vertical-align:top; }
.littlefont { font-size:90%; }
.littlefont td { padding:1px; }
table.littlefont th { padding:3px; text-align:left;}
table.littlefont td { padding:1px 3px; }
#iprogressbar_contener { margin:0px; padding:0px; display:block; height:20px; border-width:1px; border-style:solid;}
#iprogressbar_bg { display:block; z-index:100; position:relative; height:20px; }
#iprogressbar_fg { width:100%; text-align:center; display: block; z-index:200; position:relative; top:-18px;  }
#iHeaderListTags { width:100%; border:1px solid; border-collapse: collapse; margin-top:3px; }
#iListTags { width:100%; border:1px solid; height:280px; border-top:0px; overflow:auto; position:relative; left:-1px;}
#iListImages { width:100%; border-bottom:1px solid; overflow:auto;}
#iListTagsNb, #iListImagesNb { width:99%; text-align:right; margin-bottom:8px; padding:2px; font-size:80%; }
#iListTags table, #iListImages table, table.listTags { width:100%; text-align:left; border-collapse: collapse; }
#iListTags.roma table tr:hover { cursor:pointer; background:#303030; }
#iListImages.roma table tr:hover, table.roma tr:hover { background:#303030; cursor:default; }
#iListTags.clear table tr:hover { cursor:pointer; color: #D54E21; background:#dbe8f3; }
#iListImages.clear table tr:hover, table.clear tr:hover { color: #D54E21; background:#dbe8f3; cursor:default; }
#iHeaderListImages { width:100%; border-bottom:1px solid; }
.nfo ul { margin-top:0em; margin-bottom:1em; }
.warning { color:#ffffff; background:#dd0000; margin-bottom:8px; margin-top:8px; padding:8px; }
.warning p, .nfo p { margin-top:0.5em; margin-bottom:0em; }
.warning ul { margin-top:0em; margin-bottom:0.5em; }
.pctBarroma { height:6px; background:#FF7700; }
.pctBarclear { height:6px; background:#005E89; }
li.groupItems { border:1px solid #666666; margin-bottom:5px; padding:0 5px; width:90%; cursor:move; padding:4px; }
div.addGroup { padding-left:40px; text-align:left; }
#iGroups { list-style: none; }

.ui-dialog { border-width:1px; border-style:solid; }
.ui-dialog-buttonpane { padding:4px; }
.ui-dialog-buttonpane button { margin-right:8px; }
.ui-dialog-titlebar { font-weight:bold; }
.ui-dialog-title-dialog { text-align: left; }
.ui-dialog-titlebar-close { float: right; }
.ui-dialog-content { overflow:auto; }
.ui-dialog-container { }
.ui-dialog-titlebar-close { display:none; }

.ui-widget-overlay { background:#000000; opacity:0.5; filter:alpha(opacity:50); position:absolute; top:0px; left:0px; }

.tagListOrder { list-style: none; padding:0px; margin-right:8px; margin-left:35px; }
.tagListOrder li { border:none; padding:1px; margin-bottom:2px; width:100%; }
.groupTags { padding-top:8px; }
.editGroupListButton { margin-left:8px; position:absolute; z-index:1000; }
table.tagListOrderItem { width:100%; border-collapse:collapse; }
.dialogForm { text-align:left; margin:8px; }
#ianalyzestatus { margin:8px; padding:8px; }
#ianalyzestatus ul { margin:0px; padding:0 0 0 20px; }
#iamd_nb_item_per_request_display { display:inline-block; width:70px; }
#iamd_nb_item_per_request_slider { display:inline-block; width:350px; }
#iDialogProgress { margin:16px 8px 8px; }
#helpBody { text-align: left; padding-top:30px; }
#helpBody ul { padding:0px; margin:0px; }
#helpBody li { margin-left:30px; }
#iDialogProgress p { text-align: center; margin-top: 8px; margin-bottom: 0pt; }

.tabsheet2 {
display:table;
font-family:verdana,arial,helvetica,sans-serif; font-size:8px;
list-style-image:none; padding: 0 0 0 10px; position:relative; text-decoration:none;
white-space:nowrap; margin: 0 0 0 -6px;top:-21px;border-bottom:1px solid;
width:100%;
}
.tabsheet2 li { float:left; margin:0 0 0 0; overflow:hidden; text-align:right; border-width:1px; position:relative; }
.tabsheet2 a {
display:block; font-size:11px; border:0;
font-weight:bold; overflow:hidden; padding:2px 6px;
text-align:right; text-decoration:none; margin: 0; }
.tabsheet2 a:first-letter { text-transform:capitalize; }

.tabsheet2 li:hover, .tabsheet2 li.selected_tab  {
padding-top:6px; border-bottom:5px solid;
 }
/* .tabsheet a:hover */
.tabsheet2 a span { display:block; font-size:10px; margin-right:2px; padding:0 3px 0 1px; }

